*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-grille {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 22px;
    background-color: #17BEBB;
    color: whitesmoke;
}



nav {
    background-color: #af2821c9;
}

.liste-sidenav {
    list-style-type:none;
    max-height: 650px;
    display: flex;
    flex-direction: column;

}

.liste-sidenav li {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liste-sidenav li a {
    font-size: 18px;
    color: #F1F1F1;
}

main {
    padding: 20px;
}
h1 {
    margin-bottom: 15px;
}




